<!DOCTYPE html>
<html ng-app="emercoin-web">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmerCoin WebWallet</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/plugins/morris/morris-0.4.3.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>
<body>
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="profile-element">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Emercoin WebWallet">
                        <span class="text-muted text-xs block">Web Wallet</span>
                    </div>
                    <div class="logo-element">
                        EMC
                    </div>
                </li>
                <li class="{% if request.endpoint == 'wallet' %}active{% endif %}">
                    <a href="{{ url_for('wallet') }}">
                        <i class="fa fa-desktop"></i>
                        <span class="nav-label">Overview</span>
                    </a>
                </li>
                <li class="{% if request.endpoint == 'receive' %}active{% endif %}">
                    <a href="{{ url_for('receive') }}">
                        <i class="fa fa-list"></i>
                        <span class="nav-label">Receive Coins</span>
                    </a>
                </li>
                <li class="{% if request.endpoint == 'nvs' %}active{% endif %}">
                    <a href="{{ url_for('nvs') }}">
                        <i class="fa fa-bookmark"></i>
                        <span class="nav-label">Manage Names</span>
                    </a>
                </li>
                <li class="{% if request.endpoint == 'sign' %}active{% endif %}">
                    <a href="{{ url_for('sign') }}">
                        <i class="fa fa-pencil-square"></i>
                        <span class="nav-label">Sign Message</span>
                    </a>
                </li>
                <li class="{% if request.endpoint == 'minfo' %}active{% endif %}">
                    <a href="{{ url_for('minfo') }}">
                        <i class="fa fa-pie-chart"></i>
                        <span class="nav-label">Information</span>
                    </a>
                </li>
                <li>
                    <a href="https://pool.emercoin.com" target="_blank">
                        <i class="fa fa-users"></i>
                        <span class="nav-label">EmerCoin Pool</span>
                    </a>
                </li>
                {% if login_btn == 1 %}
                <li>
                    <a href="logout">
                        <i class="fa fa-times"></i>
                        <span class="nav-label">Logout</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <span class="m-r-sm text-muted welcome-message"></span>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="wrapper wrapper-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div id="cgminer" style="display: none;">
                <div class="jumbotron text-center">
                    <p class="text-center">Cgminer is offline</p>
                    <p><a class="btn btn-primary btn-lg turn-on" href="#" role="button" data-loading-text="Wait...">Turn it on</a></p>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
        <div class="footer">
            <div class="pull-right">
                v1.0.3
            </div>
            <div>
                <strong>Copyright</strong> Emercoin &copy; 2016
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
<!-- jQuery UI -->
<script src="{{ url_for('static', filename='js/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

<!-- Flot -->
<script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.spline.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.pie.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/flot/jquery.flot.symbol.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/flot/curvedLines.js') }}"></script>

<!-- Peity -->
<script src="{{ url_for('static', filename='js/plugins/peity/jquery.peity.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/peity-demo.js') }}"></script>

<!-- Custom and plugin javascript -->
<script src="{{ url_for('static', filename='js/inspinia.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/pace/pace.min.js') }}"></script>

<!-- Jvectormap -->
<script src="{{ url_for('static', filename='js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>

<!-- Sparkline -->
<script src="{{ url_for('static', filename='js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>

<!-- Sparkline demo data  -->
<script src="{{ url_for('static', filename='js/demo/sparkline-demo.js') }}"></script>

<!-- ChartJS-->
<script src="{{ url_for('static', filename='js/plugins/chartJs/Chart.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/favico.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% block scripts %}{% endblock %}
</body>
</html>
